/* Event List CSS */
.event-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0%;
    justify-content: space-evenly;
}

.event-list-light {
    background-color: #efebeb;
    color: #5468ff
}

.event-list-dark {
    background-color: #6c715e;
    color: #5468ff
}