/* Event List CSS */
.event-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0%;
    justify-content: space-evenly;
    /* height: calc(100vh - 50px); */
}

.event-list-light {
    background-color: #fff;
    color: #5468ff
}

.event-list-dark {
    background-color: #7f856d;
    color: #5468ff
}